@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Rufina:wght@700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3{
    font-family: 'Rufina', serif;
}

.navbar{
    font-family: 'Playfair Display', serif;
}

/* ---------------- */
/* button color */

.orange{
    background-color: #ff817e;
}
.secondary-clr{
    background-color: #30383b;
}

.orange a, .secondary-clr a{
    text-decoration: none;
    color: white;
}
/* ----------------- */



/* ---------- */
/* Banner sec Font */
.large-60{
    font-size: 60px;
}


/* ----------- */
.car-items_wrapper{
    height: 712px;
    background-color: #fff9f8;
}

.car-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* ---------carousel------- */
.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ff817e !important;
}  

/* ------------------- */
.user_details {
    position: relative;
    top: -40px;
    background-color: #ffffff;
    width: 75%;
    margin: 0 auto;
    padding: 30px;
    height: 171px;
    transition: all 1s;
}

.team-card-wrap:hover .social-icons{
    display: block;
}

.team-card-wrap:hover .user_details{
    /* height: 171px; */
    -webkit-box-shadow: 0px 15px 42px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 15px 42px 0px rgba(0,0,0,0.52);
    box-shadow: 0px 15px 42px 0px rgba(0, 0, 0, 0.5);
    top: -60px;
}

.team-card-wrap:hover .social-icons a{
    display: block;
}

.social-icons a{
    margin-right: 8px;
    text-decoration: none;
    color: #30383b;
    border: 1px solid #30383b;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: none;
    padding: 3px;
}

.social-icons a:hover{
    background-color: #ff817e;
    color: white;
    border: 0;
}


/* ------ form control */

.form_control{
    border: 0px 0px 1px 0px solid #ced4da;
}

/* --------- */
.icon-bg{
    padding: 10px;
    background-color: #ff817e;
    border-radius: 50%;
}

.foot-links ul{
    margin: 0;
    list-style: none;
}

li{
    display: inline;
    padding: 0 30px;
}

/*------- footer ------------- */

.social-icons-foot a{
    text-decoration: none;
    color: black;
    padding-right: 15px;
    padding-left: 15px;

    border-right: 2px solid ;
}

.social-icons-foot a:last-child{
    border: none;
}

.footer{
    background-color: #fff9f8;
}

/* ----------------- */
.top-img {
    position: absolute;
    top: -10px;
    width: 35px;
}

.a.navbar-brand.nav-margin {
    margin-right: 30%;
}

/* ------------------------------------------ */
#banner{
    background: url('../img/leaf.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

}

.banner-img{
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: -100;
    overflow: hidden;
}
.banner-img img{
    width: 50%;
    position: relative;
    top: 0;
    left: 50%;
}

/* ------------ */

section#about{
    position: relative;
}

.about-img-1, .about-img-2{
    position: absolute;

} 

.about-img-2{
    /* fix sizes */
    top: 50%;
    right: 50px;
}